### Imports

In [1]:
import pandas as pd
import dataset_tools as dt

## Preparing data

### Loading dataset

In [2]:
aggregated_dataset = pd.read_csv('datasets/per_day_participant_dataset_co_w_avg.csv')

In [3]:
aggregated_dataset.tail()

,Unnamed: 0.1,Unnamed: 0,id,date,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,...,appCat.social,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count
2149,2149,2149,AS14.33,2014-05-27,6.2,5,-0.600000,5,0.4,5,...,2010.364,40,0.000,0,0.000,0,56.173,3,0.0,0
2150,2150,2150,AS14.33,2014-05-28,8.2,5,0.000000,5,1.2,5,...,5361.211,54,0.000,0,0.000,0,30.666,6,0.0,0
2151,2151,2151,AS14.33,2014-05-29,7.0,3,-1.333333,3,1.0,3,...,1789.922,9,0.939,1,0.000,0,3.199,2,0.0,0
2152,2152,2152,AS14.33,2014-05-30,6.8,5,-0.800000,5,-0.4,5,...,3166.409,42,1052.648,28,8.072,3,232.825,15,0.0,0
2153,2153,2153,AS14.33,2014-05-31,7.0,1,-2.000000,1,1.0,1,...,0.000,0,0.000,0,0.000,0,0.000,0,0.0,0

In [4]:
# NOT NEEDED ANYMORE
# Pares column Unnamed: 0
# aggregated_dataset = dt.reformat_aggregated_data(aggregated_dataset)

In [5]:
# NOT NEEDED ANYMORE
# average the first 3 columns using the counts
# aggregated_dataset = dt.average_data(aggregated_dataset, dt.var_names[0:4])

In [6]:
aggregated_dataset.head()

,Unnamed: 0.1,Unnamed: 0,id,date,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,...,appCat.social,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count
0,0,0,AS14.01,2014-02-17,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
1,1,1,AS14.01,2014-02-18,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
2,2,2,AS14.01,2014-02-19,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
3,3,3,AS14.01,2014-02-20,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
4,4,4,AS14.01,2014-02-21,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0

In [7]:
# save the dataset
aggregated_dataset.to_csv('datasets/aggregated_dataset.csv', index=False)

### Counting missing values

In [8]:
# count the number of rows where mood_count is 0
zero_mood_count = aggregated_dataset[aggregated_dataset['mood_count'] == 0].shape[0]
print('Number of rows where mood_count is 0:', zero_mood_count, 'out of', aggregated_dataset.shape[0])

Number of rows where mood_count is 0: 886 out of 2154

In [9]:
counts_of_empty_mood = aggregated_dataset[aggregated_dataset['mood_count'] == 0].groupby('id').size()
counts_of_empty_mood

id
AS14.01    31
AS14.02    27
AS14.03    34
AS14.05    24
AS14.06    36
AS14.07     2
AS14.08    16
AS14.09    32
AS14.12    35
AS14.13    24
AS14.14    34
AS14.15    26
AS14.16    25
AS14.17    22
AS14.19    32
AS14.20    31
AS14.23    38
AS14.24     7
AS14.25    51
AS14.26    35
AS14.27    46
AS14.28    43
AS14.29    46
AS14.30    31
AS14.31    47
AS14.32    50
AS14.33    61
dtype: int64

In [10]:
participants = aggregated_dataset['id'].unique()
current_participant = participants[0]
# count lenght of empty mood sequences
empty_mood_sequences = {}
"""
Dictionry with the form of:
{
    'id': {
        'length_sequence': count
    }
}

Example:

{
    'AS14.01': {
        1: 10,
        2: 5
    },
    'AS14.02': {
        1: 7,
        2: 3
    }
}
"""


for participant in participants:
    current_length = 0
    for index, row in aggregated_dataset[aggregated_dataset['id'] == participant].iterrows():
        if row['mood_count'] == 0:
            current_length += 1
            if index == len(aggregated_dataset[aggregated_dataset['id'] == participant]) - 1:
                
                if participant not in empty_mood_sequences:
                    empty_mood_sequences[participant] = {}
                if current_length not in empty_mood_sequences[participant]:
                    empty_mood_sequences[participant][current_length] = 0
                empty_mood_sequences[participant][current_length] += 1

                current_length = 0
        else:
            if current_length != 0:
                if participant not in empty_mood_sequences:
                    empty_mood_sequences[participant] = {}
                if current_length not in empty_mood_sequences[participant]:
                    empty_mood_sequences[participant][current_length] = 0
                empty_mood_sequences[participant][current_length] += 1
            current_length = 0

empty_mood_sequences

{'AS14.01': {9: 1, 21: 1, 1: 1},
 'AS14.02': {27: 1},
 'AS14.03': {32: 1, 1: 1},
 'AS14.05': {24: 1},
 'AS14.06': {35: 1, 1: 1},
 'AS14.07': {2: 1},
 'AS14.08': {16: 1},
 'AS14.09': {32: 1},
 'AS14.12': {24: 1, 11: 1},
 'AS14.13': {24: 1},
 'AS14.14': {31: 1, 1: 1, 2: 1},
 'AS14.15': {25: 1, 1: 1},
 'AS14.16': {24: 1, 1: 1},
 'AS14.17': {15: 1, 6: 1, 1: 1},
 'AS14.19': {32: 1},
 'AS14.20': {31: 1},
 'AS14.23': {33: 1, 1: 1},
 'AS14.24': {5: 1, 1: 1},
 'AS14.25': {50: 1, 1: 1},
 'AS14.26': {34: 1, 1: 1},
 'AS14.27': {45: 1, 1: 1},
 'AS14.28': {42: 1, 1: 1},
 'AS14.29': {44: 1, 1: 2},
 'AS14.30': {31: 1},
 'AS14.31': {44: 1, 1: 1},
 'AS14.32': {43: 1, 2: 1, 1: 3},
 'AS14.33': {58: 1, 2: 1, 1: 1}}

In [11]:
# plot mood_count per participant
import matplotlib.pyplot as plt
import os

if not os.path.exists('participant_mood_count'):
    os.makedirs('participant_mood_count')

for participant in participants:
    plt.plot(aggregated_dataset[aggregated_dataset['id'] == participant]['date'], aggregated_dataset[aggregated_dataset['id'] == participant]['mood_count'])
    plt.title('Participant ' + participant + ' mood count')
    plt.savefig('participant_mood_count/' + participant + '_mood_count.png')
    plt.close()

In [12]:
# plot per participant the sum of the variables that end with _count
for participant in participants:
    plt.plot(aggregated_dataset[aggregated_dataset['id'] == participant]['date'], aggregated_dataset[aggregated_dataset['id'] == participant].iloc[:, 3::2].sum(axis=1))
    plt.title('Participant ' + participant + ' sum of the variables that end with _count')
    plt.show()

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Plot both
def plot_counts_per_participant(df):
    participants = df['id'].unique()
    for participant in participants:
        plt.plot(df[df['id'] == participant]['date'], df[df['id'] == participant]['mood_count'])
        plt.title('Participant ' + participant + ' mood count')
        plt.show()
        plt.plot(df[df['id'] == participant]['date'], df[df['id'] == participant].iloc[:, 3::2].sum(axis=1))
        plt.title('Participant ' + participant + ' sum of the _count variables')
        plt.show()


plot_counts_per_participant(aggregated_dataset)

## Cleaning

In [ ]:
#load the dataset
aggregated_dataset = pd.read_csv('datasets/aggregated_dataset.csv')

In [ ]:
aggregated_dataset['sum_of_counts'] = aggregated_dataset.iloc[:, 3::2].sum(axis=1)
aggregated_dataset.head()

In [ ]:
# strip the first rows and the last rows with mood_count = 0 per participant
aggregated_dataset_cleaned = pd.DataFrame()
for participant in participants:
    participant_data = aggregated_dataset[aggregated_dataset['id'] == participant]
    participant_data.reset_index(drop=True, inplace=True)
    first_non_zero_mood = participant_data[participant_data['mood_count'] != 0].index[0]
    last_non_zero_mood = participant_data[participant_data['mood_count'] != 0].index[-1]
    aggregated_dataset_cleaned = pd.concat([aggregated_dataset_cleaned, participant_data[first_non_zero_mood:last_non_zero_mood+1]])

In [ ]:
print('Original dataset shape:', aggregated_dataset.shape)
print('Cleaned dataset shape:', aggregated_dataset_cleaned.shape)

In [ ]:
# remove the period of 10 or more consecutive lower sum of the variables that end with _count per participant, splitting the dataset in batches. The treshold depends on the mean of the sum of the variables that end with _count
aggregated_dataset_cleaned = aggregated_dataset.copy(deep=True)

aggregated_dataset_cleaned.reset_index(drop=True, inplace=True)
aggregated_dataset_cleaned.head()

In [ ]:
#importing math
import math


def split_dataset(df, max_empty_lenght=4, min_count=10):
    participants = df['id'].unique()
    splitted_dataset = pd.DataFrame()
    for participant in participants:
        participant_data = df[df['id'] == participant]
        participant_data.reset_index(drop=True, inplace=True)
        mean_sum_of_counts = participant_data['sum_of_counts'].mean()
        #std_sum_of_counts = participant_data['sum_of_counts'].std()
        treshold = max(mean_sum_of_counts - 3*math.sqrt(mean_sum_of_counts), min_count) # 99% confidence interval assuming poisson distribution approximated by normal distribution
        print('threshold for participant', participant, 'is', treshold)
        current_length = 0
        batch_number = 0
        previous_cut = 0
        for index, row in participant_data.iterrows():
            if row['sum_of_counts'] <= treshold:
                current_length += 1

            elif current_length > max_empty_lenght:
                batch = participant_data[previous_cut:index-current_length+(max_empty_lenght if previous_cut else 0)].copy(deep=True)
                batch['batch'] = batch_number
                splitted_dataset = pd.concat([splitted_dataset, batch])

                batch_number += 1 if previous_cut else 0
                current_length = 0
                previous_cut = index
            else:
                current_length = 0
            if index == len(participant_data) - 1:
                if current_length <= max_empty_lenght:
                    batch = participant_data[previous_cut:].copy(deep=True)
                    batch['batch'] = batch_number
                    splitted_dataset = pd.concat([splitted_dataset, batch])
    return splitted_dataset

splitted_dataset = split_dataset(aggregated_dataset_cleaned)

In [ ]:
print('Original dataset shape:', aggregated_dataset_cleaned.shape)
print('Splitted dataset shape:', splitted_dataset.shape)

In [ ]:
# print lenght per batch
splitted_dataset.groupby(['id', 'batch']).size()

In [ ]:
#plot counts
splitted_dataset['date'] = pd.to_datetime(splitted_dataset['date'])
dt.plot_counts_per_participant(splitted_dataset)

In [ ]:
reordered_columns = splitted_dataset.columns.to_list()[0:2]+splitted_dataset.columns.to_list()[-1:] + splitted_dataset.columns.to_list()[2:-1]
splitted_dataset = splitted_dataset[reordered_columns]

In [ ]:
splitted_dataset[splitted_dataset['id'] == 'AS14.01']

In [ ]:
# save the dataset
splitted_dataset.to_csv('datasets/splitted_dataset.csv', index=False)