### Imports

In [52]:
import pandas as pd

## Preparing data

### Loading dataset

In [64]:
aggregated_dataset = pd.read_csv('per_day_participant_dataset_co.csv')

In [65]:
aggregated_dataset.tail()

,Unnamed: 0,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,activity,activity_count,screen,...,appCat.social,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count
2149,"('AS14.33', Timestamp('2014-05-27 00:00:00'))",31.0,5,-3.0,5,2.0,5,0.304902,24,4089.879001,...,2010.364,40,0.000,0,0.000,0,56.173,3,0.0,0
2150,"('AS14.33', Timestamp('2014-05-28 00:00:00'))",41.0,5,0.0,5,6.0,5,2.479228,24,11411.693819,...,5361.211,54,0.000,0,0.000,0,30.666,6,0.0,0
2151,"('AS14.33', Timestamp('2014-05-29 00:00:00'))",21.0,3,-4.0,3,3.0,3,4.064507,24,3569.341000,...,1789.922,9,0.939,1,0.000,0,3.199,2,0.0,0
2152,"('AS14.33', Timestamp('2014-05-30 00:00:00'))",34.0,5,-4.0,5,-2.0,5,4.050925,21,9497.646999,...,3166.409,42,1052.648,28,8.072,3,232.825,15,0.0,0
2153,"('AS14.33', Timestamp('2014-05-31 00:00:00'))",7.0,1,-2.0,1,1.0,1,0.000000,0,0.000000,...,0.000,0,0.000,0,0.000,0,0.000,0,0.0,0

In [67]:
from pandas import Timestamp


aggregated_dataset["date_time"]= pd.to_datetime([eval(string)[1] for string in aggregated_dataset['Unnamed: 0']])
aggregated_dataset["participant_id"]= [eval(string)[0] for string in aggregated_dataset['Unnamed: 0']]

In [68]:
aggregated_dataset.drop(columns=['Unnamed: 0'], inplace=True)

In [69]:
# reorder columns
aggregated_dataset = aggregated_dataset[aggregated_dataset.columns.to_list()[-2:] + aggregated_dataset.columns.to_list()[:-2]]

In [70]:
aggregated_dataset.head()

,date_time,participant_id,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,activity,activity_count,...,appCat.social,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count
0,2014-02-17,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
1,2014-02-18,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
2,2014-02-19,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
3,2014-02-20,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
4,2014-02-21,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0

### Counting missing values

In [91]:
# count the number of rows where mood_count is 0
zero_mood_count = aggregated_dataset[aggregated_dataset['mood_count'] == 0].shape[0]
print('Number of rows where mood_count is 0:', zero_mood_count, 'out of', aggregated_dataset.shape[0])

Number of rows where mood_count is 0: 886 out of 2154

In [92]:
counts_of_empty_mood = aggregated_dataset[aggregated_dataset['mood_count'] == 0].groupby('participant_id').size()
counts_of_empty_mood

participant_id
AS14.01    31
AS14.02    27
AS14.03    34
AS14.05    24
AS14.06    36
AS14.07     2
AS14.08    16
AS14.09    32
AS14.12    35
AS14.13    24
AS14.14    34
AS14.15    26
AS14.16    25
AS14.17    22
AS14.19    32
AS14.20    31
AS14.23    38
AS14.24     7
AS14.25    51
AS14.26    35
AS14.27    46
AS14.28    43
AS14.29    46
AS14.30    31
AS14.31    47
AS14.32    50
AS14.33    61
dtype: int64

In [73]:
partecipants = aggregated_dataset['participant_id'].unique()
current_participant = partecipants[0]
# count lenght of empty mood sequences
empty_mood_sequences = {}
"""
Dictionry with the form of:
{
    'participant_id': {
        'length_sequence': count
    }
}

Example:

{
    'AS14.01': {
        1: 10,
        2: 5
    },
    'AS14.02': {
        1: 7,
        2: 3
    }
}
"""


for participant in partecipants:
    current_length = 0
    for index, row in aggregated_dataset[aggregated_dataset['participant_id'] == participant].iterrows():
        if row['mood_count'] == 0:
            current_length += 1
            if index == len(aggregated_dataset[aggregated_dataset['participant_id'] == participant]) - 1:
                
                if participant not in empty_mood_sequences:
                    empty_mood_sequences[participant] = {}
                if current_length not in empty_mood_sequences[participant]:
                    empty_mood_sequences[participant][current_length] = 0
                empty_mood_sequences[participant][current_length] += 1

                current_length = 0
        else:
            if current_length != 0:
                if participant not in empty_mood_sequences:
                    empty_mood_sequences[participant] = {}
                if current_length not in empty_mood_sequences[participant]:
                    empty_mood_sequences[participant][current_length] = 0
                empty_mood_sequences[participant][current_length] += 1
            current_length = 0

empty_mood_sequences

{'AS14.01': {9: 1, 21: 1, 1: 1},
 'AS14.02': {27: 1},
 'AS14.03': {32: 1, 1: 1},
 'AS14.05': {24: 1},
 'AS14.06': {35: 1, 1: 1},
 'AS14.07': {2: 1},
 'AS14.08': {16: 1},
 'AS14.09': {32: 1},
 'AS14.12': {24: 1, 11: 1},
 'AS14.13': {24: 1},
 'AS14.14': {31: 1, 1: 1, 2: 1},
 'AS14.15': {25: 1, 1: 1},
 'AS14.16': {24: 1, 1: 1},
 'AS14.17': {15: 1, 6: 1, 1: 1},
 'AS14.19': {32: 1},
 'AS14.20': {31: 1},
 'AS14.23': {33: 1, 1: 1},
 'AS14.24': {5: 1, 1: 1},
 'AS14.25': {50: 1, 1: 1},
 'AS14.26': {34: 1, 1: 1},
 'AS14.27': {45: 1, 1: 1},
 'AS14.28': {42: 1, 1: 1},
 'AS14.29': {44: 1, 1: 2},
 'AS14.30': {31: 1},
 'AS14.31': {44: 1, 1: 1},
 'AS14.32': {43: 1, 2: 1, 1: 3},
 'AS14.33': {58: 1, 2: 1, 1: 1}}

In [96]:
# plot mood_count per participant
import matplotlib.pyplot as plt
import os

if not os.path.exists('participant_mood_count'):
    os.makedirs('participant_mood_count')

for participant in partecipants:
    plt.plot(aggregated_dataset[aggregated_dataset['participant_id'] == participant]['date_time'], aggregated_dataset[aggregated_dataset['participant_id'] == participant]['mood_count'])
    plt.title('Participant ' + participant + ' mood count')
    plt.savefig('participant_mood_count/' + participant + '_mood_count.png')
    plt.close()

In [ ]:
# plot per partecipant the sum of the variables that end with _count
for participant in partecipants:
    plt.plot(aggregated_dataset[aggregated_dataset['participant_id'] == participant]['date_time'], aggregated_dataset[aggregated_dataset['participant_id'] == participant].iloc[:, 3::2].sum(axis=1))
    plt.title('Participant ' + participant + ' sum of the variables that end with _count')
    plt.show()

In [ ]:
#Plot both
def plot_counts_per_participant(df):
    partecipants = df['participant_id'].unique()
    for participant in partecipants:
        plt.plot(df[df['participant_id'] == participant]['date_time'], df[df['participant_id'] == participant]['mood_count'])
        plt.title('Participant ' + participant + ' mood count')
        plt.show()
        plt.plot(df[df['participant_id'] == participant]['date_time'], df[df['participant_id'] == participant].iloc[:, 3::2].sum(axis=1))
        plt.title('Participant ' + participant + ' sum of the _count variables')
        plt.show()


plot_counts_per_participant(aggregated_dataset)

## Cleaning

In [88]:
# strip the first rows and the last rows with mood_count = 0 per participant
aggregated_dataset_cleaned = pd.DataFrame()
for participant in partecipants:
    participant_data = aggregated_dataset[aggregated_dataset['participant_id'] == participant]
    participant_data.reset_index(drop=True, inplace=True)
    first_non_zero_mood = participant_data[participant_data['mood_count'] != 0].index[0]
    last_non_zero_mood = participant_data[participant_data['mood_count'] != 0].index[-1]
    aggregated_dataset_cleaned = pd.concat([aggregated_dataset_cleaned, participant_data[first_non_zero_mood:last_non_zero_mood+1]])

In [89]:
print('Original dataset shape:', aggregated_dataset.shape)
print('Cleaned dataset shape:', aggregated_dataset_cleaned.shape)

Original dataset shape: (2154, 40)
Cleaned dataset shape: (1331, 40)

In [98]:
# remove the period of 10 or more consecutive lower sum of the variables that end with _count per partecipant, splitting the dataset in batches. The treshold depends on the mean of the sum of the variables that end with _count

aggregated_dataset_cleaned.reset_index(drop=True, inplace=True)
aggregated_dataset_cleaned.head()

aggregated_dataset_cleaned['sum_of_counts'] = aggregated_dataset_cleaned.iloc[:, 3::2].sum(axis=1)
aggregated_dataset_cleaned.head()

,date_time,participant_id,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,activity,activity_count,...,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count,sum_of_counts
0,2014-02-26,AS14.01,25.0,4,-1.0,4,3.0,4,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,15
1,2014-02-27,AS14.01,19.0,3,0.0,3,1.0,3,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,9
2,2014-02-28,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,4
3,2014-03-01,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,1
4,2014-03-02,AS14.01,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0

In [102]:
def split_dataset(df, threshold=7):
    partecipants = df['participant_id'].unique()
    splitted_dataset = pd.DataFrame()
    for participant in partecipants:
        participant_data = df[df['participant_id'] == participant]
        participant_data.reset_index(drop=True, inplace=True)
        mean_sum_of_counts = participant_data['sum_of_counts'].mean()
        std_sum_of_counts = participant_data['sum_of_counts'].std()
        current_length = 0
        batch_number = 0
        previous_cut = 0
        for index, row in participant_data.iterrows():
            if row['sum_of_counts'] <= max(mean_sum_of_counts- 2.5*std_sum_of_counts, 4):
                current_length += 1

            elif current_length >= threshold:
                    batch = participant_data[previous_cut:index-current_length].copy(deep=True)
                    batch['batch'] = batch_number
                    splitted_dataset = pd.concat([splitted_dataset, batch])

                    batch_number += 1
                    current_length = 0
                    previous_cut = index
            if index == len(participant_data) - 1:
                batch = participant_data[previous_cut:].copy(deep=True)
                batch['batch'] = batch_number
                splitted_dataset = pd.concat([splitted_dataset, batch])
    return splitted_dataset

splitted_dataset = split_dataset(aggregated_dataset_cleaned)

In [105]:
reordered_columns = splitted_dataset.columns.to_list()[-1:] + splitted_dataset.columns.to_list()[:-1]
splitted_dataset = splitted_dataset[reordered_columns]

In [107]:
splitted_dataset[splitted_dataset['participant_id'] == 'AS14.01']

,batch,date_time,participant_id,mood,mood_count,circumplex.arousal,circumplex.arousal_count,circumplex.valence,circumplex.valence_count,activity,...,appCat.social_count,appCat.travel,appCat.travel_count,appCat.unknown,appCat.unknown_count,appCat.utilities,appCat.utilities_count,appCat.weather,appCat.weather_count,sum_of_counts
0,0,2014-02-26,AS14.01,25.0,4,-1.0,4,3.0,4,0.000000,...,0,0.000,0,0.000,0,0.000,0,0.000,0,15
1,0,2014-02-27,AS14.01,19.0,3,0.0,3,1.0,3,0.000000,...,0,0.000,0,0.000,0,0.000,0,0.000,0,9
9,1,2014-03-07,AS14.01,0.0,0,0.0,0,0.0,0,0.000000,...,0,0.000,0,0.000,0,0.000,0,0.000,0,5
10,1,2014-03-08,AS14.01,0.0,0,0.0,0,0.0,0,0.000000,...,0,0.000,0,0.000,0,0.000,0,0.000,0,0
22,2,2014-03-20,AS14.01,0.0,0,0.0,0,0.0,0,0.163095,...,11,0.000,0,45.173,1,21.074,2,0.000,0,113
23,2,2014-03-21,AS14.01,31.0,5,1.0,5,1.0,5,3.083152,...,60,915.445,13,0.000,0,598.754,26,0.000,0,632
24,2,2014-03-22,AS14.01,32.0,5,3.0,5,2.0,4,3.790084,...,12,37.305,1,0.000,0,117.621,3,0.000,0,381
25,2,2014-03-23,AS14.01,34.0,5,1.0,5,4.0,5,2.141117,...,18,0.000,0,0.000,0,30.086,1,30.386,1,368
26,2,2014-03-24,AS14.01,30.0,5,4.0,5,0.0,5,1.895065,...,43,419.805,5,0.000,0,178.732,2,0.000,0,685
27,2,2014-03-25,AS14.01,27.0,4,2.0,4,2.0,4,2.360979,...,28,0.000,0,235.223,8,222.893,10,0.000,0,473
28,2,2014-03-26,AS14.01,33.0,5,-1.0,5,3.0,5,2.431400,...,37,0.000,0,0.000,0,33.365,1,0.000,0,599
29,2,2014-03-27,AS14.01,35.0,5,1.0,5,4.0,5,3.509234,...,13,47.314,2,0.000,0,179.029,11,0.000,0,545
30,2,2014-03-28,AS14.01,32.0,5,-3.0,5,3.0,5,2.296753,...,20,1133.009,19,0.000,0,301.717,10,0.000,0,367
31,2,2014-03-29,AS14.01,40.0,5,1.0,5,5.0,5,1.636867,...,8,52.435,3,0.000,0,600.637,24,0.000,0,305
32,2,2014-03-30,AS14.01,30.0,4,-2.0,4,3.0,4,0.687302,...,3,0.000,0,66.477,2,38.296,1,0.000,0,148
33,2,2014-03-31,AS14.01,37.0,5,0.0,5,3.0,5,1.692132,...,24,183.381,5,29.290,1,210.305,17,0.000,0,571
34,2,2014-04-01,AS14.01,30.0,5,1.0,5,0.0,5,2.842638,...,110,1614.621,14,0.000,0,517.636,27,0.000,0,880
35,2,2014-04-02,AS14.01,26.0,4,1.0,3,2.0,3,2.445999,...,53,0.000,0,0.000,0,341.371,16,0.000,0,830
36,2,2014-04-03,AS14.01,32.0,5,-6.0,5,0.0,5,1.181723,...,71,19.082,1,0.000,0,182.772,13,0.000,0,1004
37,2,2014-04-04,AS14.01,31.0,5,1.0,5,2.0,5,3.040543,...,29,158.241,7,0.000,0,128.692,13,0.000,0,584
38,2,2014-04-05,AS14.01,34.0,5,-2.0,5,3.0,5,2.856055,...,8,187.945,6,0.000,0,118.956,9,0.000,0,276
39,2,2014-04-06,AS14.01,26.0,4,-3.0,4,2.0,4,1.545787,...,5,0.000,0,0.000,0,46.249,5,0.000,0,355
40,2,2014-04-07,AS14.01,26.0,4,-2.0,3,1.0,4,1.216095,...,24,60.247,1,0.000,0,205.811,4,0.000,0,467
41,2,2014-04-08,AS14.01,33.0,5,-2.0,5,1.0,3,1.807849,...,45,0.000,0,0.000,0,36.143,2,0.000,0,678
42,2,2014-04-09,AS14.01,37.0,5,-4.0,5,4.0,4,2.889219,...,64,0.000,0,0.000,0,577.359,5,0.000,0,665
43,2,2014-04-10,AS14.01,37.0,5,-2.0,5,4.0,5,1.895115,...,30,0.000,0,0.000,0,377.687,15,0.000,0,387
44,2,2014-04-11,AS14.01,35.0,5,-6.0,5,4.0,5,1.919669,...,13,34.234,1,0.000,0,214.648,9,0.000,0,474
45,2,2014-04-12,AS14.01,29.0,4,-3.0,4,3.0,4,1.733977,...,6,5.031,1,0.000,0,352.392,25,0.000,0,234
46,2,2014-04-13,AS14.01,32.0,4,-5.0,4,4.0,4,0.336512,...,2,0.000,0,0.000,0,0.000,0,0.000,0,191
47,2,2014-04-14,AS14.01,36.0,5,-6.0,5,3.0,5,2.013296,...,18,29.104,2,0.000,0,986.014,29,0.000,0,569
48,2,2014-04-15,AS14.01,32.0,5,0.0,5,4.0,5,2.162692,...,44,8.363,1,0.000,0,279.793,14,0.000,0,659
49,2,2014-04-16,AS14.01,36.0,5,3.0,4,1.0,2,2.786648,...,29,0.000,0,0.000,0,223.587,10,0.000,0,553
50,2,2014-04-17,AS14.01,33.0,5,-2.0,5,3.0,5,1.366029,...,30,0.000,0,0.000,0,49.718,3,0.000,0,406
51,2,2014-04-18,AS14.01,34.0,5,-4.0,5,4.0,5,2.256792,...,10,63.874,3,0.000,0,88.680,4,0.000,0,385
52,2,2014-04-19,AS14.01,39.0,5,-1.0,5,5.0,5,2.386366,...,11,128.890,2,0.000,0,305.796,9,0.000,0,363
53,2,2014-04-20,AS14.01,29.0,4,-1.0,4,3.0,4,1.720774,...,24,0.000,0,0.000,0,121.035,10,0.000,0,414
54,2,2014-04-21,AS14.01,38.0,5,-1.0,4,5.0,5,2.448985,...,7,68.278,3,0.000,0,210.882,10,0.000,0,280
55,2,2014-04-22,AS14.01,37.0,5,1.0,5,5.0,5,2.206309,...,21,0.000,0,0.000,0,423.215,21,0.000,0,732
56,2,2014-04-23,AS14.01,38.0,5,1.0,5,5.0,5,1.103657,...,12,0.000,0,0.000,0,246.944,11,0.000,0,538
57,2,2014-04-24,AS14.01,38.0,5,-2.0,5,5.0,5,1.221672,...,35,51.184,3,0.000,0,716.197,31,0.000,0,570
58,2,2014-04-25,AS14.01,36.0,5,-1.0,5,4.0,5,2.617466,...,23,63.316,3,0.000,0,347.974,17,0.000,0,520
59,2,2014-04-26,AS14.01,38.0,5,-1.0,5,5.0,5,4.927722,...,3,470.773,20,3.148,1,315.763,21,0.000,0,312
60,2,2014-04-27,AS14.01,30.0,4,0.0,5,5.0,5,0.670536,...,2,0.000,0,0.000,0,60.338,6,0.000,0,248
61,2,2014-04-28,AS14.01,38.0,5,-4.0,5,4.0,5,0.472208,...,12,0.000,0,0.000,0,380.193,22,0.000,0,392
62,2,2014-04-29,AS14.01,35.0,5,-1.0,4,3.0,3,2.466198,...,4,41.982,2,0.000,0,410.436,19,0.000,0,412
63,2,2014-04-30,AS14.01,39.0,5,-2.0,5,3.0,4,3.625235,...,9,272.798,16,0.000,0,112.295,5,0.000,0,435
64,2,2014-05-01,AS14.01,40.0,5,-2.0,5,5.0,5,0.889566,...,34,0.000,0,0.000,0,269.569,15,0.000,0,751
65,2,2014-05-02,AS14.01,38.0,5,-1.0,5,4.0,4,1.856184,...,17,0.000,0,0.000,0,11.083,2,0.000,0,480
66,2,2014-05-03,AS14.01,40.0,5,-1.0,5,5.0,5,1.721781,...,9,143.631,1,30.102,1,125.605,4,0.000,0,304
67,2,2014-05-04,AS14.01,32.0,4,-2.0,4,4.0,4,2.860028,...,5,0.000,0,0.000,0,0.000,0,0.000,0,272